<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Hot</a></li>
  <li role="presentation"><a href="#">Top</a></li>
  <li role="presentation"><a href="#">New</a></li>
</ul>
